<div class="banner">
  <img src="<%= @flat.image %>" alt="">
</div>

<div class="container" id="container-show">

  <div class="row">
    <div class="col-9 card-show py-3">
      <h1><%= @flat.name %></h1>
      <p><%= @flat.address  %></p>
    </div>
    <div class="col-3">
      <div class="card card-show" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa-solid fa-money-bill"></i> €<%= @flat.price_per_night %> per night</li>
          <li class="list-group-item">Created: <%= @flat.created_at %></li>
          <li class="list-group-item"><i class="fa-solid fa-person"></i> <%= @flat.number_of_guests %> people</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
  <div class="row">
    <div class="col-12 card-show my-3 py-3">
        <h2>A bit more about your flat</h2>
        <p><%= @flat.description %></p>
    </div>
  </div>

  </div>
</div>
